@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

:root {
    --main-color:#3CCF91 ;
    --second-color:#8F9094;
    --pane-padding: 5px 42px;
    --primary-font:Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
    --medium-width: 600;
    --second-black:#0c0c0c;
  }
*,
::after,
::before {
    padding: 0;
    margin: 0;
    /* box-sizing: inherit; */
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-weight: 300;
}




body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 500px;
}

  .child {
    scroll-snap-align: start;
  }
body {
    background-color: #000000;
    color: var(--font-color);
    font-family: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
    overflow-y: scroll;
    color:var(--second-color);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-rendering: optimizeSpeed;
}

th{
    background-color: #3ccf9228;
    padding: 0.3rem;
}
td{
    text-align: center;
}
tr{
    color: white;
}
tr:nth-child(odd) {  
    background: #0c0c0c;  
   
  } 

  h3{
    color: white;
    padding:  1.5rem 0px;
    text-align: center;
  }
  